/* The backgound color of the site */
body {
    background-color: #16191b;
    font-family: Arial, Helvetica, sans-serif;
}

/* The style of the 1st header (My Calendar)*/
h1 {
    color: #f7f7f7;
    border: 2px solid #20b2aa;
    border-radius: 20px;
}

/* The style of the 2nd header, what is the current year. */
h2 {
    color: #f7f7f7;
    border: 2px solid #20b2aa;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 15px;
    gap: 5px;
}

/* The footer color */
footer {
    color: #eeeeee;
}

/* Style of the footer */
.footer {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 100%;
    text-align: right;
    font-size: 20px;
}

/* The month names arrangement */
.month-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The style of the month headers */
.month-title {
    color: #eeeeee;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/* The grid arrangement*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*In every line we have 3 arrays.*/
    gap: 15px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

/* The table of every month */
table {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 1px; /*or 2px*/
    border-radius: 15px; /*or 10px*/
    overflow: hidden;
    background-color: #20b2aa;
    border: 4px solid black;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* or 0 4px 10px rgba(0,0,0,0.3)*/
}

/* Style of the cages. */
td {
    background-color: #20b2aa;
    color: #16191b;
    border: 1px solid black;
    padding: 3px;
    height: 35px;
    text-align: center;
    border-radius: 3px;
    font-size: 17px;
    font-weight: bolder;
    cursor: default;
}

/* Style of the cages of next or previous month */
td.other-month {
    background-color: #cfcfcf;          
    opacity: 0.5;              
}

/* The header of the days. */
th {
    background-color: #16191b;
    color: #20b2aa;
    padding: 5px 0;
    font-size: 14px;
    text-transform: uppercase;
}

/*For the style of buttons of the year.*/
.nav-btn {
    font-size: 20px; 
    background-color: transparent;
    border: none;
    cursor: pointer; 
    color: #20b2aa;  
    font-weight: bold;
    transition: transform 0.2s;
}

/* When you put the mouse in it, it's getting bigger */
.nav-btn:hover {
    transform: scale(1.2);
    color: #07e2d7;
}

/* Style of the year typing */
#yearInput {
    background-color: transparent;
    border: none;                  
    color: #f7f7f7;             
    font-size: 25px;              
    font-weight: bold;
    width: 60px;              
    text-align: center;   
    cursor: text;      
    outline: none;          
}

#yearInput:focus {
    border-bottom: 2px solid #20b2aa; 
}

#yearInput {
    appearance: textfield;
}

/* Hide the arrows of the typing */
#yearInput::-webkit-outer-spin-button,
#yearInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 2 columns for the tablet users */
@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 1 column for the phone users */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}