body {
    background-color: #16191b;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #f7f7f7;
    border: 2px solid #20b2aa;
    border-radius: 20px;
}

footer {
    color: #eeeeee;
}

.month-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month-title {
    color: #20b2aa;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}