/* The backgound color of the site */
body {
    background-color: #16191b;
    font-family: Arial, Helvetica, sans-serif;
}

/* The style of the 1st header (My Calendar)*/
h1 {
    color: #f7f7f7;
    border: 2px solid #20b2aa;
    border-radius: 20px;
}

/* The footer color */
footer {
    color: #eeeeee;
}

/* Style of the footer */
.footer {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 100%;
    text-align: right;
    font-size: 20px;
}